@import url("./App.css");
*,
*::before,
*::after {
    box-sizing: border-box;
}
#root {
    max-width: 1280px;
    margin: 0 auto; 
    padding: 2rem;
    text-align: center; 
  }

body {
    background-color: var(--primary-color)!important;
}

.title {
    border-radius: 10px;
    background-color: var(--primary-color-darker);
    color: var(--white);
    padding: 20px;
    text-align: center;
}
.cadastro, .login{
    background-color:var(--primary-color);
   padding: 40px;
   border-radius: 10px 50px;
   box-shadow: 10px 5px var(--primary-color-darker);
   color:white;
}

.label {
    font-weight: bold;
}

.section__form-button {
    padding: 10px 20px;
    background-color: var(--primary-color-darker);
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section__form-button:hover {
    background-color: #FF9800;
}
.title p, .cadastro  p, .login p{

    font-weight: 600;
}